 /*************************** 
 Created in: 18/04/2023
 Made By: Tiago Mostardinha
 Project for Introduction of Computer Graphics
 ***************************/


body {
	background-color: #f2f2f2;
	margin: 0;
}

img {
	padding-right: 10px;
}

/* Style the navigation bar */
#container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #333;
	color: #fff;
	padding: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: absolute; /* Add this line */
	width: 98%;
	border-radius: 5px;
	margin-left: 8px;
  }

.left-item {
	font-size: 1rem;
}

.center-item {
	font-size: 1rem;
}

.right-item {
	display: flex;
	margin-right: 20px;
}

button {
	margin-left: 0.5rem;
	background-color: #fff;
	color: #333;
	border: none;
	border-radius: 0.25rem;
	padding: 0.5rem;
	cursor: pointer;
	font-weight: bold;
}

#timer {
  font-size: 20px;  position: absolute;
  left: 50%;
  top: 50%; /* Add this line */
  transform: translate(-50%, -50%); /* Add this line */
}

/* Optional styles for the countdown timer */
#countdown {
	font-size: 20px;
	animation: countdown 60s linear infinite;
}

@keyframes countdown {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

.popup {
	width: 400px;
	background: #fff;
	border-radius: 10px;
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
	text-align: center;
	padding: 0 30px 30px;
	color: #333;
	visibility: hidden;
}

.popup button{
	width: 100%;
	margin-top: 50px;
	padding: 10px 0;
	background-color: #6fd649;
	color: #fff;
	border:0;
	outline: none;
	font-size: 18px;
	border-radius: 4px;
	cursor: pointer;
}

.open-popup {
	visibility: visible;
	top:50%;
	transform: translate(-50%, -50%);
}